
<Header/>

<NewPostButton/>

<div class="timeline">
	{{#each this.model as |post|}}
		<div class="postCont">
			<p>Id: {{post.id}}</p>
			<h1>{{post.title}}</h1>
			
			{{post.image}} 
			<h3>{{post.text}}</h3> <br>
		</div>
	{{/each}}
	{{infinity-loader infinityModel=this.model}}
</div>